.frame-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 10px;
  align-items: baseline;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  margin: 0;
  text-decoration: none;
  margin-bottom: 8px;
  padding: 0;
}

.image-name {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.frame-caption {
  color: white;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0;
  text-decoration: none;
  padding: 0 0px;
}
